h1 {
    font-size: 8rem;
    page-break-before: always;
}

h2 {
    font-size: 5rem;
    margin: 5rem 0;
}

img {
    width: 100%;
}

hr {
    background: black;
    border: none;
    height: 5px;
    margin: 2rem 0;
}

pre {
    font-size: 3.5rem;
}